.container{
    padding:24px 52px 24px 24px;
    border: 1px solid rgba(255, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.title{
    margin:0 24px 36px;
    font-size: 2rem;
}