.container {
}

.btn_open_form {
  font-size: 1.6rem;
  color: white;
  font-weight: 900;
  background-color: rgba(0, 106, 255, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
}

.btn_open_form:hover {
  opacity: 0.7;
  transition: all linear 0.3s;
  border: 1px solid transparent;
}

.btn_close_form {
  margin-right: 16px;
}

.form {
  margin: 24px 0;
  padding: 24px;
  border: 1px solid blue;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_title {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 106, 255, 0.8);
  position: relative;
  padding: 30px 0;
}

.form_title span {
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 1;
}

.post_list {
  list-style-type: none;
}

.item_row_head {
  border-bottom: 1px solid #cccccc63;
}

.item_sub_col_head {
  padding: 36px 0;
  position: relative;
}

.item_sub_col_head:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  height: 36px;
  width: 2px;
  top: 28px;
  right: 12px;
  background-color: #cccccc65;
}

.item_sub_col_head span {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  margin: 0 24px;
}

.item_row {
  border-bottom: 1px solid #cccccc3c;
}

.item_col_head:last-child,
.item_col:last-child {
  box-shadow: -3px 0px 6px #cccccca1;
}

.item_col_head:not(:nth-child(2)),
.item_col:not(:nth-child(2)) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_col a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
}

.item_sub_col span {
  margin: 0 24px;
}

.item_sub_row {
  padding: 24px 0;
}

.item_sub_row:hover {
  background-color: #ccc;
}

.post_item_action {
  margin: 0 4px;
  padding: 6px;
  border: 1px solid #cccccc68;
  border-radius: 4px;
}

.post_item_action:last-child {
  color: red;
}

.post_item_action:hover {
  background-color: rgba(0, 123, 255, 0.493);
  color: rgba(0, 0, 0, 0.6);
}

.form_edit_row {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 24px;
}

.form_edit_item {
  width: 40%;
}

.item_col_foot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot_item_delete {
}

.item_foot_paginate {
  border-radius: 4px;
  border: 1px solid #cccccc7b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_foot_paginate:last-child {
  margin-left: 12px;
}
