.container {
  position: relative;
}

.table thead {
  font-weight: 900;
  font-family: sans-serif;
  font-size: 1.4rem;
}

.btn_add {
  padding: 4px 14px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-size: 1.8rem;
  border-radius: 4px;
  margin-left: 3px;
}

.btn_delete_all_disabled,
.btn_delete_all,
.btn_action {
  padding: 4px;
  border: 1px solid #ddd;
  margin: 3px;
  border-radius: 3px;
}

.btn_delete_all {
  cursor: pointer;
}

.btn_delete_all_disabled {
  color: #ccc;
}

.btn_delete_all:hover,
.btn_action:hover {
  color: rgb(0, 115, 255);
}

.selected_count {
  position: absolute;
  bottom: 20px;
  left: 0;
}
