.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content span:first-child {
  font-size: 4rem;
}

.content span:last-child {
  font-size: 3rem;
}
